.parent{
  display:flex;
}
.selected{
  background: lightgoldenrodyellow ;
  color: black;

}
.stocks{
  background: lightgoldenrodyellow;


}
.table {
  width: 100%;
  border: 1px solid black;

}

.color-red{
  color: red;
}
.th, .td{
  padding: 100px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid black;
}

.stocks .stockListItem {
  font-size: 0.875em;
  font-family: Georgia, Serif;
  background: #cce5ff;
  padding: 0.60em;
  margin: 0.10em;
  text-align: center;
}

